include _common/_svg-icons
include _common/_mixins

doctype html
html(lang="RU-ru")
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        title
            block title

        meta(name='viewport' content='width=device-width')

        // build:css ../../public/css/plugins.auth.min.css
        link(rel='stylesheet' type='text/css' href='../../bower/normalize.css/normalize.css')
        // endbuild

        link(rel='stylesheet' type='text/css' href='/css/main.css')

    body
        <!--[if lt IE 8]>
        <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
        <![endif]-->

        .wrapper.wrapper_auth
            .auth
                block content

            footer.footer-auth
                | 2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool

        // build:js ../../public/js/plugins.auth.min.js
        script(src="../../bower/jquery/dist/jquery.js")

        // endbuild

        script(src='/js/main.min.js')

