include _common/_svg-icons
include _common/_mixins

doctype html
html(lang="RU-ru")
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        title
            block title

        meta(name='viewport' content='width=device-width')

        // build:css ../../public/css/plugins.main.min.css
        link(rel='stylesheet' type='text/css' href='../../bower/normalize.css/normalize.css')
        link(rel='stylesheet' type='text/css' href='../../bower/fancybox/source/jquery.fancybox.css')
        link(rel='stylesheet' type='text/css' href='../../bower/owl.carousel/dist/assets/owl.carousel.css')
        // endbuild

        link(rel='stylesheet' type='text/css' href='/css/main.css')

    body
        <!--[if lt IE 8]>
        <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
        <![endif]-->

        .wrapper
            block header
            .page-content
                block content

            block footer
            include _common/_footer

            include _modals/pic-view
            include _modals/form-container
            include _modals/fileupload
            include _modals/photo-edit

        // build:js ../../public/js/plugins.main.min.js
        script(src="../../bower/jquery/dist/jquery.js")
        script(src="../../bower/fancybox/source/jquery.fancybox.js")
        script(src="../../bower/owl.carousel/dist/owl.carousel.js")
        // endbuild
            
        script(src='/js/main.min.js')