extends ../main

block title
	| Страница альбома (album.psd)

block header
	include ../_common/_header-inner

block footer
	- var footerbg = '/img/bg/headers/2.jpg';

block content
	section.section.albums.albums_inner
		a(href="#fileupload").edit-btn.albums__add-btn.add-photos
			.edit-btn__inner
				.edit-btn__icon
					+icon('add')
				.edit-btn__text Добавить
		.container
			ul.projects.projects_albums
				- for (var i = 0; i < 6; i++)
					li.projects__item
						a.projects__pic(href="#pic-view" style="background-image:url('/img/content/project.jpg')")
							.project-activity
								- each item in ['share', 'like']
									.project-activity__elem
										.project-activity__icon
											+icon(item)
										.project-activity__counter 9
						.projects__desc
							.project-extra
								a(href="#photo-edit").project-extra__icon.show-edit
									+icon('pen')
								.project-extra__desc Прогулки по воде

