extends ../auth

block title
    | Авторизация

block content
    .auth__block
        .auth__block-flip
            .auth__block-side.auth__block-front
                .auth__text
                    .auth__text-title
                        | Добро пожаловать
                    .auth__text-desc.
                        Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
                .auth__form
                    form.auth__elem
                        label.auth__row
                            .auth__row-icon
                                +icon('env')
                            .auth__row-input
                                input(name="" type="text" placeholder="Электронная почта").auth__input
                        label.auth__row
                            .auth__row-icon
                                +icon('lock')
                            .auth__row-input
                                input(name="" type="password" placeholder="Пароль").auth__input
                        .auth__extras
                            a(href="#").auth__forgot.auth__link Забыли пароль?
                            input(name="" type="submit" value="Войти").auth__enter.round-btn.round-btn_filled
                            .auth__remember
                                span.auth__remember-text Нет аккаунта?
                                a(href="#").auth__register-link.auth__link.flip-trigger Зарегистрироваться
            .auth__block-side.auth__block-back
                .auth__text
                    .auth__text-title
                        | Регистрация
                .auth__form
                    form.auth__elem
                        label.auth__row
                            .auth__row-icon
                                +icon('person')
                            .auth__row-input
                                input(name="" type="text" placeholder="Имя").auth__input
                        label.auth__row
                            .auth__row-icon
                                +icon('env')
                            .auth__row-input
                                input(name="" type="text" placeholder="Электронная почта").auth__input
                        label.auth__row
                            .auth__row-icon
                                +icon('lock')
                            .auth__row-input
                                input(name="" type="password" placeholder="Пароль").auth__input
                        .auth__extras
                            .auth__desc Ваши данные остаются строго конфеденциальны
                            input(name="" type="submit" value="Войти").auth__enter.round-btn.round-btn_filled
                            .auth__remember
                                span.auth__remember-text Уже зарегистрированы?
                                a(href="#").auth__register-link.auth__link.flip-trigger Войти





