extends ../main

block title
    | Главная страница (photo_main.psd)

block header
    - headerbg = '/img/bg/headers/1.jpg';
    include ../_common/_header

block footer
    - var footerbg = '/img/bg/headers/1.jpg';

block content
    section.new.section
        .container
            .section__title Новое в мире
            ul.projects
                - for (var i = 0; i < 6; i++)
                    li.projects__item
                        a.projects__pic(href="#pic-view" style="background-image:url('/img/content/project.jpg')").show-album
                        .projects__desc
                            .project-info
                                .project-info__pic
                                    a.project-info__user(href="#" style="background-image:url('/img/content/user.jpg')")
                                .project-info__desc
                                    .project-info__title.
                                        Путешествие на лодке к озеру
                                    .project-activity
                                        - each item in ['share', 'like']
                                            a(href="#").project-activity__elem
                                                .project-activity__icon
                                                    +icon(item)
                                                .project-activity__counter 9
                        .projects__extra
                            .project-extra
                                .project-extra__icon
                                    +icon('folders')
                                .project-extra__desc Прогулки по воде
            .proceed
                a(href="#").proceed__btn.round-btn.round-btn_bordered Показать еще

    section.section.albums
        a(href="#add-album").edit-btn.albums__add-btn
            .edit-btn__inner
                .edit-btn__icon
                    +icon('add')
                .edit-btn__text Добавить
        .container
            .section__title Мои альбомы
            ul.projects.projects_albums
                - for (var i = 0; i < 6; i++)
                    li.projects__item
                        .projects__pic(style="background-image:url('/img/content/project.jpg')")
                            .project__pic-desc
                                .project__pic-desc-text.
                                    Фотографии природы
                                    леса, енотов и оленей...
                                .project__pic-desc-photos 18 фотографий
                        .projects__desc
                            .project-extra
                                a(href="#photo-edit").project-extra__icon.show-edit
                                    +icon('pen')
                                .project-extra__desc Прогулки по воде
