extends ../main

block title
	| Страница поиска (search.psd)

block header
	include ../_common/_header-search

block footer
	- var footerbg = 'none';

block content
	section.new.section
		.container
			.search-title.
				По запросу «Природа» найдено 6 результатов
			ul.projects
				- for (var i = 0; i < 6; i++)
					li.projects__item
						a.projects__pic(href="#pic-view" style="background-image:url('/img/content/project.jpg')")
						.projects__desc
							.project-info
								.project-info__pic
									.project-info__user(style="background-image:url('/img/content/user.jpg')")
								.project-info__desc
									.project-info__title.
										Путешествие на лодке к озеру
									.project-activity
										- each item in ['share', 'like']
											a(href="#").project-activity__elem
												.project-activity__icon
													+icon(item)
												.project-activity__counter 9
						.projects__extra
							.project-extra
								.project-extra__icon
									+icon('folders')
								.project-extra__desc Прогулки по воде
			.proceed
				a(href="#").proceed__btn.round-btn.round-btn_bordered Показать еще