extends ../main

block title
    | Страница пользователя (user.psd)

block header
    - headerbg = '/img/bg/headers/3.jpg';
    include ../_common/_header

block footer
    - var footerbg = '/img/bg/headers/3.jpg';

block content
    section.section.albums
        .container
            .section__title Мои альбомы
            ul.projects.projects_albums
                - for (var i = 0; i < 6; i++)
                    li.projects__item
                        a.projects__pic(href="#" style="background-image:url('/img/content/project.jpg')")
                            .project__pic-desc
                                .project__pic-desc-text.
                                    Фотографии природы
                                    леса, енотов и оленей...
                                .project__pic-desc-photos 18 фотографий
                        .projects__desc
                            .project-extra
                                .project-extra__desc Прогулки по воде