footer.footer(style="background-image:url('#{footerbg}')")
    .container
        .footer__desc.
            Перед вами сервис, который поможет вам организовать свои фотографии в альбомы и поделиться ими со всем миром!
        .footer__up
            a(href="#").up-btn
                +icon('top')
        .footer__copyright.
            2016 | Создано командой профессионалов на продвинутом курсепо веб-разработке от LoftSchool