header.header.header-search
    a(href="#").edit-btn.header__go-home
        .edit-btn__inner
            .edit-btn__icon
                +icon('home')
            .edit-btn__text На главную
    .header__content
        .container.header-container
            .header-search__title Исследуй мир
    .header__bar
        .container
            .header__bar-col
                .header-inner__user
                    .user-avatar(style="background-image: url('/img/content/user.jpg')")
                    .header-inner__user-name Антон Черепов
            .search
                form.search__form
                    input(name="" type="text" placeholder="Исследовать мир").search__input.input-text
                    input(name="" type="submit" value="").search__submit
            a(href="#").round-btn.round-btn_blank Показать новые