header.header(style="background-image:url('#{headerbg}')")
    a(href="#").edit-btn.header__edit-btn
        .edit-btn__inner
            .edit-btn__icon
                +icon('pen')
            .edit-btn__text Редактировать
    .header__content
        .container.header-container
            .user
                .user__pic
                    .user__pic-avatar(style="background-image: url('/img/content/user.jpg')")
                .user__info
                    .user__name Антон Черепов
                    .user__desc.
                        Я веб разработчик. Мне 24 года. Люблю путешествия,
                        кодинг, фриланс и активный отдых.
                    .socials
                        ul.socials__list
                            - each item in ['vk', 'fb', 'tw', 'gp', 'mail']
                                li.socials__item
                                    a(href="#").socials__link
                                        +icon(item)
    .header__bar
        .container
            .search
                form.search__form
                    input(name="" type="text" placeholder="Исследовать мир").search__input.input-text
                    input(name="" type="submit" value="").search__submit
        .edit-bar
            .container
                a(href="#").edit-bar__btn.edit-bar__btn_cancel.round-btn.round-btn_blank Отменить
                a(href="#").edit-bar__btn.round-btn.round-btn_filled Сохранить

    //- Плашка для изменения хедера
    .user-edit
        form.edit-header-form
            .container.header-container
                .photo-edit.photo-edit_static
                    label.photo-edit__link
                        input(name="" type="file" value="").photo-edit__file
                        .photo-edit__decor
                            .photo-edit__icon
                                +icon('cam')
                            .photo-edit__text.
                                Изменить фон
                .user
                    .user__pic
                        label.user__pic-avatar(style="background-image: url('/img/content/user.jpg')").photo-edit.photo-edit_attached
                            input(name="" type="file").photo-edit__input-file
                            .photo-edit__link
                                .photo-edit__decor
                                    .photo-edit__icon
                                        +icon('cam')
                                    .photo-edit__text.
                                        Изменить фото
                    .user__info
                        .user__name
                            input(name="" type="text" value="Антон Черепов" placeholder="").user-edit__input
                        .user__desc
                            textarea.user-edit__input.user-edit__textarea Я веб разработчик. Мне 24 года. Люблю путешествия, кодинг, фриланс и активный отдых.
                        .socials
                            ul.socials__list
                                - each item in ['vk', 'fb', 'tw', 'gp', 'mail']
                                    li.socials__item
                                        .socials__link
                                            a(href="#").socials__icon-wrapper
                                                +icon(item)
                                            .socials__link-dropdown
                                                .socials__edit-form
                                                    input(name="" type="hidden").socials__link-hidden
                                                    input(name="" value="http://google.com" type="text" placeholder="").socials__edit-input.input-text.input-text_bordered
                                                    .socials__edit-btns
                                                        a(href="#").socials__edit-btn.round-btn.socials-save Сохранить
                                                        a(href="#").socials__edit-btn.round-btn.round-btn_blank.socials-cancel Отменить