header.header(style="background-image:url('/img/bg/headers/2.jpg')").header-inner
    a(href="#").edit-btn.header__edit-btn
        .edit-btn__inner
            .edit-btn__icon
                +icon('pen')
            .edit-btn__text Редактировать
    a(href="#").edit-btn.header__go-home
        .edit-btn__inner
            .edit-btn__icon
                +icon('home')
            .edit-btn__text На главную
    .header__content
        .container.header-container
            .header-inner__header
                .header-inner__user
                    .user-avatar(style="background-image: url('/img/content/user.jpg')")
                    .header-inner__user-name Антон Черепов
            .header-inner__container
                .header-inner__text
                    .header-inner__title Лесные прогулки
                    .header-inner__desc.
                        Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюбленным в тишину.
                        Запах мёда, лесных оленей и енотов будоражит нутро.
    .header__bar
        .container
            ul.stats__list
                each item in ['Фотографий', "Лайков", "Комментария"]
                    li.stats__item
                        .stats__num 18
                        .stats__type #{item}
        .edit-bar
            .container
                a(href="#").edit-bar__btn.edit-bar__btn_cancel.round-btn.round-btn_blank Отменить
                a(href="#").edit-bar__btn.round-btn.round-btn_filled Сохранить

    .user-edit
        .photo-edit.photo-edit_static
            label.photo-edit__link
                input(name="" type="file" value="").photo-edit__file
                .photo-edit__decor
                    .photo-edit__icon
                        +icon('cam')
                    .photo-edit__text.
                        Изменить фон
        .container.header-container
            .header-inner__header
                .header-inner__user
                    .user-avatar(style="background-image: url('/img/content/user.jpg')")
                    .header-inner__user-name Антон Черепов
            .user
                .user__info
                    .user__name
                        input(name="" type="text" value="Лесные прогулки" placeholder="").user-edit__input
                    .user__desc
                        textarea.user-edit__input.user-edit__textarea.
                            Фотографии природы леса, енотов и оленей. Как прекрасно сойти на дальней станции и пройтись по полю босиком. И чтобы никто не беспокоил бродить влюбленным в тишину. Запах мёда, лесных оленей и енотов будоражит нутро.