mixin icon (icon)
    if icon == 'vk'
        include ../../../img/icons/socials/vk.svg
    if icon == 'fb'
        include ../../../img/icons/socials/fb.svg
    if icon == 'tw'
        include ../../../img/icons/socials/tw.svg
    if icon == 'gp'
        include ../../../img/icons/socials/gp.svg
    if icon == 'mail'
        include ../../../img/icons/socials/mail.svg
    if icon == 'search'
        include ../../../img/icons/search.svg
    if icon == 'share'
        include ../../../img/icons/share.svg
    if icon == 'like'
        include ../../../img/icons/like.svg
    if icon == 'folders'
        include ../../../img/icons/folders.svg
    if icon == 'pen'
        include ../../../img/icons/pen.svg
    if icon == 'top'
        include ../../../img/icons/top.svg
    if icon == 'cam'
        include ../../../img/icons/cam.svg
    if icon == 'heart'
        include ../../../img/icons/heart.svg
    if icon == 'close'
        include ../../../img/icons/close.svg
    if icon == 'right-arrow'
        include ../../../img/icons/arrow_right.svg
    if icon == 'left-arrow'
        include ../../../img/icons/arrow_left.svg
    if icon == 'add'
        include ../../../img/icons/add.svg
    if icon == 'home'
        include ../../../img/icons/home.svg
    if icon == 'lock'
        include ../../../img/icons/lock.svg
    if icon == 'env'
        include ../../../img/icons/env.svg
    if icon == 'person'
        include ../../../img/icons/person.svg
    if icon == 'more'
        include ../../../img/icons/more.svg