$responsive: false;

//colors
$black		: #323232;
$grey  		: #f1f1f1;
$blue		: #28bbf0;
$light-grey : #f6f6f6;
$red		: #ee4634;

// global vars
$edit-animation-dur : .5s;

// setups
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "_misc/animations";
@import "_misc/animate";

//components
@import "widgets/**/*.scss";
@import "blocks/**/*.scss";


