.albums {
	background: $light-grey;
	position: relative;
}

.albums.albums_inner {
	padding-top: 100px;

	.projects__item {
		width: 31%;

		@include hd {
			margin-left: 15px;
			width: calc(100% * 1/4 - 15px);
		}
	}

	.project-activity {
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px;
		display: inline-flex;
		position: absolute;
	}

	.project-activity__counter {
		color: #fff;
	}
}

.albums__add-btn {
	position: absolute;
	right: 0px;
	top: -20px;
	z-index: 2;

	.edit-btn {
		right: 0;
		top: 0;
		position: absolute;
	}

	&:hover {
		width: 136px !important;
	}
	.edit-btn__inner {
		transform: translateX(36px);
	}
}


.sticky-plus {
	position: absolute;
	right: 0px;
	top: -20px;
	z-index: 2;

	.edit-btn {
		right: 0;
		top: 0;
		position: absolute;
	}
	.edit-btn__inner {
		transform: translateX(36px);
	}
}

