.wrapper_auth {
	background: url("/img/bg/auth.jpg") center center no-repeat;
	background-size: cover;
	min-width: 0;

	&:after {
		content: "";
		background: url('/img/bg/gradient.png') 0 bottom repeat-x;
		display: block;
		height: 135px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.auth__form {
	background: #fff;
	width: 285px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	overflow: hidden;
}

.auth__row {
	display: flex;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
	padding: 10px 20px;
	align-items: center;
}

.auth__row-icon {
	width: 18px;

	svg {
		fill: #cccccc;
	}
}

.auth__row-input {
	width: 100%;
	margin-left: 10px;
}

.auth__input {
	border: 0;
	outline: none !important;
	width: 100%;
}

.auth__extras {
	display: flex;
	flex-direction: column;
	padding: 10px 20px;
}

.auth__link {
	color: $blue;
	text-decoration: none;
	@include proxima(bold);
	font-size: 14px;

	&:hover {
		text-decoration: underline;
	}
}

.auth__forgot {
	margin-bottom: 15px;
}

.auth__enter {
	margin-bottom: 10px;
}

.auth__remember {
	display: flex;
	align-items: center;
}

.auth__register-link {
	margin-left: 4px;
}

.auth__desc {
	font-size: 14px;
	margin-bottom: 15px;
}

.footer-auth {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 20px 0;
	font-size: 17px;
	color: #fff;
	z-index: 1;
}

.auth__block-side {
	position: relative;
}

.auth__text-title {
	color: #fff;
	@include panton;
	font-size: 42px;
	margin-bottom: 10px;
}

.auth__text {
	width: 550px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -115%);
	margin-bottom: 20px;
}

.auth__text-desc {
	font-size: 16px;
	color: #fff;
}

.footer-auth {
	min-width: 0;
}

/* --------- flip effect --------- */

.auth__block {
	position: absolute;
	top: 50%;
	left: 50%;
	//transform: translate(-50%, -50%);
	transform: translateY(-50%);
	margin-left: -142px;
	perspective: 1000px;
	width: 97%;
	max-width: 285px;
	z-index: 10;

	&.auth__block_login {
		.auth__block-flip {
			transform: rotateY(180deg);
		}
	}
}

.auth__block-flip {
	position: relative;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.auth__block-front {
	transition: transform 1s;
	transform-origin: 0% 0%;
}

.auth__block-front, .auth__block-back {
	backface-visibility: hidden;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.auth__block-front {
	z-index: 2;
	transform: translateY(-50%) rotateY(0deg) translateZ(0) scale(1.0, 1.0);
}

.auth__block-back {
	transform: translateY(-50%) rotateY(180deg) translateZ(0) scale(1.0, 1.0);
}
