.comments {
	background: $light-grey;
}

.comment__header {
	padding-left: 20px;
	padding-top: 20px;
}

.comments__trigger {
	@include proxima('bold');
	font-size: 16px;
	color: $black;
	display: flex;
	text-decoration: none;

	&:after {
		content: "";
	}
}

.comments__item {
	padding: 20px;
	padding-left: 65px;
	display: flex;
	border-bottom: 1px solid #e1e1e1;
	padding: 20px;
	opacity: 1;
	transition: .3s;

	&:last-child {
		border-bottom: 0 none;
	}
}

.comments__content {
	margin-left: 20px;
}

.comments__username {
	margin-bottom: 15px;
	@include panton;
}

.comments__add-input {
	margin-bottom: 10px;
}

.comments__list {
	position: relative;

	&.preload {
		min-height: 80px;

		&:before {
			content: "";
			display: block;
			background: url("/img/comments-loader.gif") 0 0 no-repeat;
			width: 64px;
			height: 64px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -32px;
			margin-top: -32px;
		}

		.comments__item {
			opacity: 0;
		}
	}
}