.edit-btn {
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 1px 2px 0 rgba(#000, .22);
	text-decoration: none;
	overflow: hidden;
	transition: .3s;
	opacity: 1;
	z-index: 1;

	&:hover {
		width: 160px;
		background: $blue;

		.edit-btn__inner {
			transform: translateX(0);
		}

		.edit-btn__icon {
			svg {
				fill: #fff;
			}
		}

	}
}

.edit-btn_add {
	&:hover {
		width: 120px !important;
	}
}

.header__logout {
	top: 77px;
	right: 25px;
	position: absolute;

	.edit-btn__inner {
		transform: translateX(26px);
	}

	&:hover {
		width: 110px;
	}
}

.edit-btn__inner {
	white-space: nowrap;
	display: flex;
	justify-content: center;
	transform: translateX(54px);
	transition: .3s;
}

.edit-btn__icon {
	width: 20px;
	height: 20px;
	display: inline-block;

	svg {
		fill: #a0a09f;
		width: 100%;
		height: 100%;
		transition: .3s;
	}
}

.edit-btn__text {
	@include panton();
	font-size: 14px;
	color: #fff;
	display: inline-block;
	margin-left: 10px;
}

