.file-input {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.file-input__elem {
	position: absolute;
	top: 0;
	left: -9999px;
}

.form-container__desc {
	display: inline-block;
	font-size: 14px;
	width: 200px;
	margin-left: 15px;
}

.form-container__btns {
	padding: 12px 20px;
	background: $light-grey;
}