.fileupload__title {
	margin-bottom: 35px;

	span {
		@include proxima(bold);
		margin-right: 15px;
	}
}

.fileupload__container {
	border: 3px dashed #f1f1f1;
	background: #f9f9f9;
	min-height: 330px;
	padding: 15px;
	margin-bottom: 35px;
	border-radius: 10px;
	position: relative;
}

.fileupload__container_uploaded {
	.photo-edit__link {
		display: none;
	}
}

.fileupload__desc {
	width: 205px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	.photo-edit__decor {
		width: 100%;
	}

	.photo-edit__icon {
		width: 25%;
		margin-bottom: 15px;

		svg {
			fill: #d1d1d1;
		}
	}

	.photo-edit__text {
		font-size: 16px;
		color: #d1d1d1;
		@include proxima(light);

		span {
			color: $blue;
		}
	}
}

.fileupload__photos {
	display: flex;
	flex-wrap: wrap;
	margin-left: -2%;
}

.fileupload__photos-item {
	width: 23%;
	margin-left: 2%;
	margin-bottom: 15px;
}

.fileupload__photo-pic {
	@include cover;
	height: 135px;
	border-radius: 5px;
	position: relative;
}

.fileupload__photo-remove {
	display: flex;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: $red;
	top: -10px;
	right: -10px;
	position: absolute;
	border: 3px solid #f9f9f9;
	align-items: center;
	justify-content: center;

	svg {
		width: 8px;
		height: 8px;
		fill: #fff;
	}
}

/* --------- fileupload --------- */

.fileupload__widget {
	position: relative;
	min-height: 150px;
	background: #fff;
	padding: 20px;
	border: 3px dashed #f1f1f1;
	display: block;
	cursor: pointer;

	#dropzone {
		position: absolute;
		top: 0;
		left: -9999px;
	}

	.dz-default.dz-message {
		display: none;
	}
}

.fileupload__widget-container {
	margin-bottom: 35px;
}





