.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	//background: rgba(#fff, .85);
	background: #fff;
	z-index: 100;
	transform: translateY(-100%);
	//transition: .3s;
	overflow: hidden;

	&.active {
		transform: translateY(0);

		.fixed-header__inner {
			margin-top: 0;
		}
	}

	.container {
		justify-content: space-between;
		align-items: center;
		height: 60px;
		display: flex;

		.edit-btn {
			position: absolute;
			right: 0;
			top: 9px;
		}

		.project-extra__desc {
			flex: 1;
			display: flex;
			justify-content: center;
			padding-right: 140px;
		}

		.header-inner__user-name {
			color: #323232;
		}
	}
}

.fixed-header__inner {
	margin-top: -60px;
	transition: margin .3s;
}



