.footer {
	position: relative;
	@include cover();
	background-position: center bottom;
	background-color: #000;
	transform: translateZ(0);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000, .5);
	}

	.container {
		position: relative;
		display: flex;
		padding: 20px 0px;
	}

	&.disabled {
		&:after {
			opacity: 1;
			transform: translate(0);
		}
	}

	&:after {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#fff, .9);
		z-index: 10;
		display: block;
		position: absolute;
		transform: translateX(-100%);
		transition: opacity $edit-animation-dur;
		opacity: 0;
	}
}

.footer__desc, .footer__copyright {
	width: 45%;
	font-size: 16px;
}

.footer__up {
	width: 10%;
}

.footer__desc {
	color: #fff;
}

.footer__copyright {
	color: rgba(#fff, .4);
	text-align: right;
}

.footer__up {
	text-align: center;
}

