.form-container {
	.popup__content {
		background: #fff;
		border-radius: 5px;
		padding: 0;
		max-width: 670px;
		width: 95%;
		min-width: 450px;
	}

	.popup__close {
		position: static;
		margin-left: auto;
	}
}

.form-container__title {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	background: $light-grey;
	padding: 20px;
}

.form-container__title-text {
	@include panton;
	font-size: 21px;
}

.form-container__content {
	padding: 0 24px;
}

.form-container__row {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.form-container__left {
	flex: 1;
	text-align: right;

	.user-avatar {
		display: inline-block;
	}
}

.form-container__field-name {
	@include proxima(bold);
}

.form-container__right {
	flex: 4;
	margin-left: 25px;
	display: flex;
	align-items: center;
}

textarea.form-container__field {
	height: 120px;
	resize: none;
	border-radius: 20px;
}

.form-container__btns {
	display: flex;
	align-items: center;
}

.form-container__remove {
	margin-left: auto;
}

