.header {
	position: relative;
	@include cover();
	z-index: 11;
	transform: translateZ(0);

	&.preload {
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: url('/img/loader-dark.svg') center center no-repeat rgba(#000, .7);
			z-index: 10;
		}
	}

	&.header_search {
		.edit-btn {
			right: 0;
		}

		.header__edit-btn {
			top: 129px !important;
		}
	}
}

.header__edit-btn {
	position: absolute;
	right: 25px;
	top: 25px;
}

.header__go-home {
	position: absolute;
	right: 0px;
	top: 25px;

	&:hover {
		width: 133px;
	}

	.edit-btn__inner {
		transform: translateX(42px);
	}
}

.header_edit {
	.user-edit {
		transform: translateY(0);
	}

	.edit-bar {
		transform: translateY(0);
	}

	.header__content {
		opacity: 0;
	}

	.header__edit-btn {
		opacity: 0;
	}
}

.header__content {
	opacity: 1;
	transition: opacity $edit-animation-dur;
}

.header__bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba($grey, .9);
	height: 60px;
	overflow: hidden;

	.container {
		display: flex;
		justify-content: flex-end;
		height: 100%;
		align-items: center;
	}

	.header__bar-inner {
		margin-top: -60px;
		transition: margin .3s;

		.container {
			height: 60px;
		}

		&.active {
			margin-top: 0px;
		}
	}

	.fixed-content {
		justify-content: space-between;
		align-items: center;
		height: 60px;
		display: flex;

		.edit-btn {
			position: absolute;
			right: 0;
			top: 9px;
		}

		.project-extra__desc {
			flex: 1;
			display: flex;
			justify-content: center;
			padding-right: 140px;
		}

		.header-inner__user-name {
			color: #323232;
		}
	}
}

.header__content {
	background: rgba(#000, .4);
}