.header-inner {
	.header-container {
		padding-top: 20px;
	}

	.user-edit {
		.header-container {
			padding-top: 20px;
		}
	}

	.user__info {
		margin-left: 30%;
	}

	.user {
		width: 80%;
		margin-top: -6px;
	}

	.header__edit-btn {
		right: 0px;
		top: 78px;
	}
}

.user-avatar {
	border: 2px solid #fff;
	transition: .3s;
}

.header-inner__user {
	display: inline-flex;
	align-items: center;
	text-decoration: none;

	&:hover {
		.user-avatar {
			border-color: $blue;
		}
	}
}

.header-inner__user-name {
	@include panton;
	font-size: 18px;
	color: #fff;
	margin-left: 20px;
}

.header-inner__container {
	display: flex;
	justify-content: center;
}

.header-inner__text {
	width: 70%;
	text-align: center;
	color: #fff;
}

.header-inner__title {
	@include proxima(bold);
	font-size: 21px;
	margin-bottom: 15px;
}

.header-inner__desc {
	font-size: 16px;
	line-height: 24px;
}

