.header__alerts {
	position: absolute;
	z-index: 100;
	top: 0;
	min-width: 500px;
	background: #fff;
	padding: 8px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 5px 0 #000;
	transform: translateX(-50%) translateY(-150%);
	left: 50%;
	text-align: center;
	transition: .3s;

	&.active {
		transform: translateY(0) translateX(-50%);
	}
}