.header-search {
	.header-container {
		padding-top: 20px;
		padding-bottom: 80px;
	}


	.header__bar {
		.container {
			align-items: center;
			justify-content: flex-start;
		}
	}

	.header-inner__user-name {
		color: $black;
	}
}

.header__bar-col {
	width: 34%;
}

.header-search__title {
	@include panton;
	font-size: 43px;
	text-align: center;
}