.input-text {
	padding: 8px 20px;
	background: #fff;
	border: 0 none;
	border-radius: 60px;
	width: 100%;
	outline: none !important;
}

.input-text_bordered {
	border: 1px solid #d8d6d6;

	&:focus {
		border-color: $blue;
	}
}