.likes {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	background: $red;
	border-radius: 50px;
	text-decoration: none;
	color: #fff;

	&.liked {
		svg {
			fill: #fff;
		}
	}

	&:not('.liked') {
		&:hover {
			svg {
				stroke-dashoffset: -120;
				transition: .3s;
			}
		}
	}
}

.likes-container {
	margin-left: auto;
}

.likes__icon {
	width: 25px;
	height: 20px;

	svg {
		stroke: #fff;
		fill: transparent;
		stroke-dasharray: 60;
		stroke-dashoffset: 0;
		transition: .6s;
	}
}

.likes__amount {
	margin-left: 10px;
	@include panton;
}