.page-content {
	position: relative;

	&.disabled {
		&:after {
			opacity: 1;
			transform: translate(0);
		}
	}

	&:after {
		content: "";
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#fff, .9);
		z-index: 10;
		display: block;
		position: absolute;
		transform: translateX(-100%);
		transition: opacity $edit-animation-dur;
		opacity: 0;
	}
}