.photo-edit {
	position: relative;
	cursor: pointer;
}

.photo-edit__file {
	position: absolute;
	top: 0;
	left: -9999px;
}

.photo-edit__input-file {
	position: absolute;
	top: 0;
	left: -9999px;
}

.photo-edit__link {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: rgba(#fff, 8);
	cursor: pointer;
}

.photo-edit_attached {
	overflow: hidden;

	.photo-edit__link {
		$border : 3px;

		position: absolute;
		top: -$border;
		left: -$border;
		right: -$border;
		bottom: -$border;
		background: rgba(#000, .5);
		overflow: hidden;
		border-radius: 50px;
	}
}


.photo-edit__decor {
	width: 80%;
	text-align: center;
}

.photo-edit__icon {
	width: 55%;
	display: inline-block;

	svg {
		fill: rgba(#fff, .8);
	}
}

.photo-edit__text {
	@include proxima(bold);
	font-size: 16px;
	line-height: 1.1;
}


.photo-edit_static {
	position: absolute;
	right: 45px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	width: 140px;

	.photo-edit__icon {
		width: 37%;
	}
}