.pic-view {
	padding: 0 60px;
}

.pic-view__container {
	max-width: 680px;
	//background: #fff;
	background: #000;
}

.pic-view__desc {
	padding: 20px;
	background: #fff;
}

.pic-view__info {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.pic-view__about-title {
	@include proxima(bold);
	color: #323232;
	font-size: 21px;
	margin-bottom: 15px;
}

.pic-view__about-desc {
	@include proxima(light);
	font-size: 16px;

	a {
		color: $blue;
		text-decoration: none;
		@include proxima(bold);
	}
}

.pic-view__gallery {
	position: relative;
}

.pic-view__gallery-btn {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 16px;
	height: 27px;

	svg {
		fill: #a0a09f;
		transition: .3s;
	}

	&:hover {
		svg {
			fill: #fff;
		}
	}
}

.pic-view__image {
	//height: 455px;
	text-align: center;
	text-align: center;

	img {
		width: 100% !important;
		height: auto !important;
		display: block !important;
		//max-width: 100%;
		//max-height: 100%;
		//vertical-align: middle;
	}

	//&:before {
	//	content: "";
	//	display: inline-block;
	//	height: 100%;
	//	vertical-align: middle;
	//}
}

.pic-view__gallery-btn_right {
	right: 40px;
}

.pic-view__gallery-btn_left {
	left: 40px;
}


