.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background: rgba(#000, .9);
	overflow: auto;
	display: none;
	z-index: 1000;

	&.preload {
		.popup__content {
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: url('/img/loader-light.svg') center center no-repeat rgba(#fff, .8);
			}
		}
	}

	&:after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}
}

.popup__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup__content {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	padding: 35px 0;
	position: relative;
}

.popup__close {
	position: absolute;
	width: 28px;
	height: 28px;
	display: block;
	text-decoration: none;
	right: -60px;
	top: 10px;

	svg {
		fill: #a0a09f;
		transition: .3s;
	}

	&:hover {
		svg {
			fill : #fff;
		}
	}
}

/* --------- alert --------- */

#alert-popup {
	.popup__content {
		min-width: 300px;
		width: auto;
		overflow: hidden;
	}

	.form-container__content {
		padding: 24px;
		text-align: center;
	}
	.alert-message {
		margin-bottom: 0;
	}
	.form-container__btns {
		justify-content : center;
	}
}
