.popup-errors {
	li {
		background: #ffe3e3;
		padding: 5px 10px;
		color: #323232;
		font-size: 14px;
		border-radius: 5px;
		margin-bottom: 5px;
	}

	&.popup-errors_success {
		li {
			background: rgba(greenyellow, .5);
		}
	}
}

.errors-container {
	padding: 10px 20px;
}


.error {
	border-color: darken(#ffe3e3, 20%);
}
