.popup-alert {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	bottom: 70px;
	background: #fff;
	text-align: center;

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}
}

.popup-alert__box {
	width: 90%;
	display: inline-block;
	vertical-align: middle;
}

.popup-alert__title {
	margin-bottom: 20px;
	font-size: 16px;
}