.project-activity {
	display: flex;
}

.project-activity__elem {
	display: flex;
	text-decoration: none;
	color: #323232;
	align-items: center;
	margin-right: 20px;
}

.project-activity__counter {
	font-size: 16px;
	margin-left: 10px;
}

.project-activity__icon {
	display: flex;
	align-items: center;

	svg {
		width: 21px;
		height: 18px;
		fill: #d6d6d6;
	}
}

.projects__extra {
	background: #f6f6f6;
	padding: 12px 20px;
}