.project-extra {
	display: flex;
	justify-content: flex-end;
}

.project-extra__icon {
	display: flex;
	align-items: center;

	svg {
		fill: #c5c5c5;
		width: 20px;
		height: 20px;
		transition: .3s;
	}

	&:hover {
		svg {
			fill: #848484;
		}
	}
}

.project-extra__desc {
	@include proxima(bold);
	font-size: 16px;
	margin-left: 10px;
	padding-left: 15px;

	a {
		text-decoration: none;
		color: inherit;
	}
}