.projects {
	display: flex;
	flex-wrap: wrap;
	margin-left: -2%;
	align-items: flex-start;

	@include hd {
		margin-left: -15px;
	}
}

.projects__item {
	width: 31.3%;
	margin-bottom: 25px;
	margin-left: 2%;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #f1f1f1;
	box-shadow: 1px 0px 4px 0 rgba(#000, .15);

	@include hd {
		margin-left: 15px;
		width: calc(100% * 1/4 - 15px);
	}
}

.projects__pic {
	height: 250px;
	@include cover();
	display: flex;
	position: relative;
	overflow: hidden;

	&.preload {
		&:after {
			content: "";
			background: url('/img/loader-dark.svg') center center no-repeat rgba(#000, .6);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-position: center center;
			margin: 0;
			opacity: 1;
			width: 100%;
			height: 100%;
			display: block;
		}

		&:before {
			content: "";
			display: none;
		}
	}

	&:before { // overlay
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(#000, .6);
		opacity: 0;
		transition: opacity .3s;
		border-radius: 5px 5px 0 0;
	}

	&:after { // lens
		content: "";
		background-size: contain;
		width: 50px;
		height: 50px;
		background: url('/img/icons/lens.svg') center center no-repeat;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;
		opacity: 0;
	}

	&:hover {
		&:after {
			animation: bounceIn .3s;
			opacity: 1;
		}

		&:before {
			opacity: 1;
		}

		.project__pic-desc {
			transform: translateY(0%);
		}
	}
}

.project__pic-desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 20px 35px;
	color: #fff;
	transform: translateY(100%);
	transition: .3s;
}

.project__pic-desc-text {
	margin-bottom: 30px;
}

.project__pic-desc-photos {
	@include proxima(bold);
}

.projects__desc {
	padding: 15px;
}

.project-info {
	display: flex;
}

.project-info__pic {
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-info__user {
	width: 50px;
	height: 50px;
	@include cover();
	border-radius: 50%;
	position: relative;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .3s;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 17px;
		height: 4px;
		background: url('/img/icons/more.svg') 0 0 no-repeat;
		opacity: 0;
		transition: .3s;
	}

	&:hover {
		&:before {
			background: rgba(#000, .5);
		}

		&:after {
			opacity: 1;
		}
	}
}

.project-info__desc {
	margin-left: 20px;
}

.project-info__title {
	font-size: 16px;
	margin-bottom: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.project-info__desc {
	max-width: 250px;
}

/* --------- projects albums --------- */

.projects_albums {

	@include hd {
		margin-left: -15px;
	}

	.projects__pic {
		&:after {
			display: none;
		}
	}

	.projects__item {
		width: 23%;

		@include hd {
			margin-left: 15px;
			width: calc(100% * 1/5 - 15px);
		}
	}

	.project-extra {
		justify-content: flex-start;
	}

	.project-extra__desc {
		margin-left: auto;
	}
}

.projects__item_inner {
	.projects__pic {
		&:after {
			display: block;
		}
	}
}

