.round-btn {
	display: inline-block;
	padding: 10px 20px;
	background: transparent;
	border: 1px solid $blue;
	color: $blue;
	@include panton();
	border-radius: 50px;
	font-size: 14px;
	text-decoration: none;
	transition: .3s;
	position: relative;
	outline: none !important;

	&.preload {
		color: transparent;
		background: #fff !important;
		transition: 0s;

		&:before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 10px;
			right: 10px;
			background: url('/img/preloader.gif') center center no-repeat;
			background-size: 80%;
			content: "";
		}
	}

	&.error {
		border-color: darken(#ffe3e3, 20%);
		background-color: darken(#ffe3e3, 20%);
		color: #fff;

		&:hover {
			background-color: #fff !important;
			color: darken(#ffe3e3, 20%) !important;
		}
	}

	&:hover {
		color: #fff;
		background: $blue;
	}
}

.round-btn_alerted {
	color: #323232;
	@include proxima(bold);
	font-size: 16px;
	border: none;

	&:hover {
		color: #fff;
		background: $red;
	}
}

.round-btn_filled {
	background: $blue;
	color: #fff;
	box-shadow: 0 1px 2px 0 rgba(#000, .22);
	transition: .3s;

	&:hover {
		background: #24b0e3;
	}
}

.round-btn_blank {
	border: 0 none;
	color: rgba($blue, .8);

	&:hover {
		background: transparent;
		text-decoration: underline;
		color: $blue;
	}
}

.round-btn_bordered {
	display: inline-block;
	border: 1px solid $blue;
	color: $blue;
	text-decoration: none;
	border-radius: 50px;
	@include panton();
	transition: .3s;

	&:hover {
		background: $blue;
		color: #fff;
	}
}

.round-btn_red {
	@extend .round-btn_filled;
	background: $red;
	border-color: $red;

	&:hover {
		border-color: $blue;
	}
}


