.search {
	position: relative;
	min-width: 380px;
}

.search__input {
	padding: 8px 20px 8px 45px;
}

.search__submit {
	background: url("/img/icons/search.svg") 0 0 no-repeat;
	background-size: contain;
	padding: 0px;
	border: 0;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
}

