.socials__list {
	display: flex;
}

.socials__item {
	margin-right: 10px;
}

.socials__link {
	width: 20px;
	height: 20px;
	display: block;
	position: relative;

	svg {
		fill: #d4d5d5;
		transition: fill .3s;
	}

	&:hover {
		svg {
			fill: #fff;
		}
	}

	&.active {
		.socials__link-dropdown {
			left: 50%;
			opacity: 1;
		}
	}
}

.socials__icon-wrapper {
	display: block;
}

.socials__link-dropdown {
	position: absolute;
	top: 150%;
	width: 280px;
	background: #fff;
	padding: 8px;
	transform: translateX(-50%);
	box-shadow: 0 1px 4px 0 rgba(#000, .15);
	border-radius: 5px;
	opacity: 0;
	left: -9999px;
	transition: opacity .3s;

	&:before {
		content: "";
		display: block;
		width: 0px;
		height: 0px;
		border: 6px solid transparent;
		border-top-width: 0;
		border-bottom-color: #fff;
		position: absolute;
		top: -6px;
		left: 50%;
		transform: translateX(-50%);
	}

	&:after {
		content: "";
		left: 0;
		right: 0;
		top: -20px;
		height: 22px;
		display: block;
		position: absolute;
	}
}

.socials__edit-input {
	margin-bottom: 10px;
}