.stats__list {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.stats__item {
	display: flex;
	margin-left: 35px;
	align-items: flex-end;

	&:first-child {
		margin-left: 0;
	}
}

.stats__num {
	@include panton;
}

.stats__type {
	@include proxima(bold);
	margin-left: 5px;
}