.user-edit {
	position: absolute;
	top: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 60px;
	background: rgba(#000, .6);
	transform: translateY(-100%);
	transition: transform $edit-animation-dur;
	z-index: 2;

	.header-container {
		padding-top: 40px;
		padding-bottom: 0;
	}

	.user__desc {
		margin-bottom: 4px;
	}
}

.user-edit__input {
	padding: 10px 15px;
	background: #fff;
	border-radius: 50px;
	color: $black;
	@include proxima();
	width: 100%;
	border: 0 none;
	outline: none !important;
}

.user-edit__textarea {
	height: 65px;
	border-radius: 18px;
	resize: none;
}