.user {
	display: flex;
	width: 60%;
}

.user__pic {
	display: flex;
	align-items: center;
}

.user__pic-avatar {
	display: block;
	width: 120px;
	height: 120px;
	@include cover();
	border: 3px solid #fff;
	border-radius: 50%;
}

.user__info {
	margin-left: 6%;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.user__name {
	margin-bottom: 15px;
	color: #fff;
	@include panton();
}

.user__desc {
	margin-bottom: 25px;
	line-height: 24px;
	font-size: 16px;
	color: #fff;
	flex: 1;
}