// setups
$container-width: 1180px;

// styles
body {
	font-size: 16px;
	line-height: 1.42;
    -webkit-font-smoothing: antialiased;
	background: #fff;
	@include proxima();
	color: $black;
	position: relative;

	&.locked {
		overflow: hidden;
	}

	&.preload {
		overflow: hidden;

		&:after {
			content: "";
			z-index: 1000;
			//background: url('/img/loader-dark.svg') center center no-repeat rgba(#000, .5);
			background: rgba(#000, .5);
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-position: center center;
		}
	}
}

.container {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    min-width: $container-width;
	@include clearfix;
	width: 95%;
	max-width: 1580px;

}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
	overflow: hidden;
	min-width: $container-width + 20px;
}

.page-content {
	flex: 1;
}

// tag styles reset
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

p {
	padding: 0;
	margin: 0;
}

footer {
	position: relative;
	min-width: $container-width + 20;
}

* {
	box-sizing: border-box;
}

form {
	margin-bottom: 0;
}