@font-face {
	font-family: 'pantonbold';
	src: url('/fonts/panton-bold-webfont.woff') format('woff'),
	url('/fonts/panton-bold-webfont.svg#pantonbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_nova_ltsemibold';
	src: url('/fonts/proxima_nova_semibold-webfont.woff') format('woff'),
	url('/fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_nova_ltlight';
	src: url('/fonts/proximanova-light-webfont.woff') format('woff'),
	url('/fonts/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'proxima_novalight_italic';
	src: url('/fonts/proximanova-lightit-webfont.woff') format('woff'),
	url('/fonts/proximanova-lightit-webfont.svg#proxima_novalight_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin proxima ($style: light) {
	@if $style == 'light' {
		font-family: 'proxima_nova_ltlight';
	}

	@if $style == 'italic' {
		font-family: 'proxima_novalight_italic';
	}

	@if $style == 'bold' {
		font-family: 'proxima_nova_ltsemibold';
	}
}

@mixin panton(){
	font-family: 'pantonbold';
}