.popup.form-container#fileupload
    .popup__overlay
    .popup__content
        .form-container__title
            .form-container__title-text
                | Добавить фотографии
            a(href="#").popup__close
                +icon('close')
        .fileupload__wrapper
            .form-container__content
                .fileupload
                    .fileupload__title
                        | <span>Название</span> Как я провел лето

                    .fileupload__widget-container
                        form(action="/upload-target" class="dropzone fileupload__widget")
                            .fileupload__desc
                                .photo-edit__link
                                    .photo-edit__decor
                                        .photo-edit__icon
                                            +icon('cam')
                                        .photo-edit__text.
                                            Перетащите фото сюда </br>
                                            или <span>выберите файл</span>

                    //- .fileupload__container.fileupload__container_uploaded
                        .fileupload__desc
                            .photo-edit__link
                                .photo-edit__decor
                                    .photo-edit__icon
                                        +icon('cam')
                                    .photo-edit__text.
                                        Перетащите фото сюда </br>
                                        или <span>выберите файл</span>
                        ul.fileupload__photos
                            - for (var i = 0; i < 7; i++)
                                li.fileupload__photos-item
                                    .fileupload__photo-pic(style="background-image: url('/img/content/photo.png')")
                                        a(href="#").fileupload__photo-remove
                                            +icon('close')
            .form-container__btns
                input(name="" type="submit" value="Сохранить").round-btn.round-btn_filled
                a(href="#").round-btn.round-btn_blank Отменить