.popup.form-container#add-album
    .popup__overlay
    .popup__content
        .form-container__title
            .form-container__title-text
                | Добавить альбом
            a(href="#").popup__close
                +icon('close')
        form
            .form-container__content
                label.form-container__row
                    .form-container__left
                        .form-container__field-name
                            | Название
                    .form-container__right
                        input.input-text.input-text_bordered.form-container__field
                label.form-container__row
                    .form-container__left
                        .form-container__field-name
                            | Описание
                    .form-container__right
                        textarea.input-text.input-text_bordered.form-container__field
                .form-container__row
                    .form-container__left
                        .user-avatar(style="background-image: url('/img/content/user.jpg')")
                    .form-container__right
                        label.file-input
                            .round-btn.round-btn_bordered Загрузить обложку
                            input(name="" type="file" placeholder="").file-input__elem
                        .form-container__desc
                            | (файл должен быть размером
                            | не более 1024 КБ)
            .form-container__btns
                input(name="" type="submit" value="Сохранить").round-btn.round-btn_filled
                a(href="#").round-btn.round-btn_blank Отменить
                .round-btn.round-btn_red.form-container__remove Удалить