.popup.photo-edit.form-container#photo-edit
    .popup__overlay
    .popup__content
        .form-container__title
            .form-container__title-text
                | Добавить альбом
            a(href="#").popup__close
                +icon('close')
        form
            .form-container__content
                label.form-container__row
                    .form-container__left
                        .form-container__field-name
                            | Название
                    .form-container__right
                        input.input-text.input-text_bordered.form-container__field
                label.form-container__row
                    .form-container__left
                        .form-container__field-name
                            | Описание
                    .form-container__right
                        textarea.input-text.input-text_bordered.form-container__field
            .form-container__btns
                input(name="" type="submit" value="Сохранить").round-btn.round-btn_filled
                a(href="#").round-btn.round-btn_blank Отменить
                .round-btn.round-btn_red.form-container__remove Удалить