.popup.pic-view#pic-view
    .popup__overlay
    .popup__content
        a(href="#").popup__close
            +icon('close')
        .pic-view__container
            .pic-view__gallery
                ul.pic-view__images.owl-carousel
                    - for (var i = 0; i < 5; i++)
                        li.pic-view__image
                            img(src="/img/content/pic.jpg" alt="")
                .pic-view__gallery-controls
                    a(href="#").pic-view__gallery-btn.pic-view__gallery-btn_right
                        +icon('right-arrow')
                    a(href="#").pic-view__gallery-btn.pic-view__gallery-btn_left
                        +icon('left-arrow')
            .pic-view__desc
                .pic-view__info
                    .user-present
                        .user-present__avatar.user-avatar(style="background-image: url('/img/content/user.jpg')")
                        .user-present__username Анна Богданова
                    a(href="#").likes
                        .likes__icon
                            +icon('heart')
                        .likes__amount 28
            .pic-view__comments
                .comments
                    .comment__header
                        a(href="#").comments__trigger Комментарии
                    .comments__body
                        .comments__item
                            .comments__avatar
                                .comments__avatar-pic.user-avatar(style="background-image: url('/img/content/user.jpg')")
                            .comments__content
                                .comments__username Антон Черепов
                                .comments__add-form
                                    form.comments__add-form-elem
                                        input(name="" type="text" placeholder="Добавить комментарий").comments__add-input.input-text.input-text_bordered
                                        input(name="" type="submit" value="Добавить").comments__add-submit.round-btn.round-btn_bordered
                        ul.comments__list
                            - for (var i = 0; i < 2; i++)
                                li.comments__item
                                    .comments__avatar
                                        .comments__avatar-pic.user-avatar(style="background-image: url('/img/content/user.jpg')")
                                    .comments__content
                                        .comments__username Антон Черепов
                                        .comments__text
                                            p.
                                                Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.


